{% extends "base.html" %}
{% block title %}
        Технологии
{% endblock %}
    </head>
{% block content %}
<div class="row">
  <h1>Технологии, используемые для создания этого сайта:</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">atomicwrites==1.4.0</li>
        <li class="list-group-item">attrs==21.4.0</li>
        <li class="list-group-item">colorama==0.4.4</li>
        <li class="list-group-item">Django==2.2.9</li>
        <li class="list-group-item">iniconfig==1.1.1</li>
        <li class="list-group-item">packaging==21.3</li>
        <li class="list-group-item">pluggy==1.0.0</li>
        <li class="list-group-item">py==1.11.0</li>
        <li class="list-group-item">pyparsing==3.0.7</li>
        <li class="list-group-item">pytest==6.2.5</li>
        <li class="list-group-item">pytest-django==3.8.0</li>
        <li class="list-group-item">pytest-pythonpath==0.7.3</li>
        <li class="list-group-item">pytz==2021.3</li>
        <li class="list-group-item">six==1.15.0</li>
        <li class="list-group-item">sqlparse==0.4.2</li>
        <li class="list-group-item">tomli==2.0.0</li>
        <li class="list-group-item">
          Python
        </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Текст страницы "Технологии"</p>
  </article>
</div>
{% endblock %} 